.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  overflow: hidden;
  pointer-events: none;
}

.cart-sidebar {
  width: 400px;
  height: 100vh;
  background: #fff;
  padding: 25px;
  overflow-y: auto;
   pointer-events: auto;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);
}

.title {
  margin-bottom: 25px;
  color: #2e7d32;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.empty {
  text-align: center;
  margin-top: 50px;
  color: #777;
}

.item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

.cart-image {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #eee;
}

.info {
  flex: 1;
  min-width: 0;
}

.name {
  font-size: 15px;
  margin-bottom: 8px;
  color: #333;
  word-break: break-word;
}

.price {
  color: #e53935;
  font-weight: bold;
  margin-bottom: 12px;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #e9f1ea;
  color: #151111;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: 0.3s;
}

.icon:hover {
  background: #43a047;
  color: white;
}

.qty {
  min-width: 20px;
  text-align: center;
  font-weight: bold;
}

.delete-icon {
  color: #e53935;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.delete-icon:hover {
  transform: scale(1.1);
}

.total-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 10px;
}

.total {
  color: #2e7d32;
}

.checkout-btn {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border: none;
  border-radius: 35px;
  background: linear-gradient(135deg, #43a047, #2e7d32);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(46, 125, 50, 0.3);
  transition: 0.3s;
}

.checkout-btn:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}

@media (max-width: 480px) {
  .cart {
    width: 100%;
    padding: 15px;
  }
}
