.checkout-page {
  min-height: 100vh;
  background: #f4f6f9;
  padding: 40px 20px;
}

.checkout-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.checkout-left,
.checkout-right {
  background: #fff;
  padding: 35px;
  border-radius: 20px;
  box-shadow:
    0 5px 20px rgba(0, 0, 0, 0.08);
}

.checkout-title {
  margin-bottom: 25px;
  color: #2e7d32;
  font-size: 32px;
}

.sub-title {
  margin-bottom: 20px;

  color: #333;
}

.order-title {
  margin-bottom: 25px;
  color: #2e7d32;
}

.form-card {
  margin-bottom: 25px;
}

.checkout-input {
  display: block;
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-radius: 12px;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
  box-sizing: border-box;
}

.checkout-input:focus {
  border-color: #43a047;
}

.button-group {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.checkout-btn,
.back-btn {
  flex: 1;
  height: 50px;
  padding: 15px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.checkout-btn {
  background: linear-gradient( 135deg, #43a047, #2e7d32 );
  color: #fff;
  box-shadow: 0 5px 15px rgba(67, 160, 71, 0.3);
}

.back-btn {
  margin-top: 20px;
  background: linear-gradient(  135deg, #757575, #424242 );
  color: white;
}

.checkout-btn:hover,
.back-btn:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}

.product-card {
  display: flex;
  gap: 15px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  background: #fafafa;
  align-items: center;
}

.checkout-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.product-name {
  margin: 0;
}

.qty {
  margin: 6px 0;
  color: #666;
}

.price {
  margin: 0;
  color: #2e7d32;
  font-weight: bold;
  font-size: 18px;
}

.total-box {
  margin-top: 25px;
  padding-top: 20px;
  border-top: 2px dashed #ddd;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: bold;
  color: #2e7d32;
}

.empty-cart {
  background: #fafafa;
  padding: 40px;
  text-align: center;
  border-radius: 15px;
  color: #888;
  font-size: 18px;
}

.toast {
  color: white;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.success {
  background: #43a047;
}

.error {
  background: #e53935;
}
